#googlebutton{
  border: 2px solid rgb(19, 119, 219) !important;
  display: flex;
  width: 100%;
}
.register-container {
  margin: auto;
  background-color: #ffffff;
  height: 100vh;
  width: 88vw;
  border-radius: 10px;
  /* display: flex; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  }
  
  .register-left {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .register-left img{
    width: 30vw;
  }

 
  
  .register-right {
    display: grid;
    width: 20vw;
    height: fit-content;
    align-self: center;
    justify-self: center;
    justify-items: center;
    grid-gap: 3vh;
  }

  .register_link:hover{
    color: rgb(19, 119, 219);
    cursor: pointer;
    text-decoration: none;
  }

  .register_link{
    font-size: 1.5rem;
    text-decoration: underline;
  }
  
  .h4-register-label{
    font-size: 1.5rem;
  }
  .register-label{
    font-size: 1.5rem;
  }

  .h4-welcome-label{
    font-size: 2.50rem;
  }

  .h2_label{
    font-size: 2.85rem;
  }
  .register-right h2 {
    font-family: 'Manrope', sans-serif;
    /* font-size: 2rem; */
  }
  .input-wrapper {
    width: 100%;
    position: relative;
  }
  
  label{
    position: absolute;
    top: -10px ;
    left: 10px ;
    background-color: #ffffff;
    padding: 0 5px;
    color: rgb(0, 0, 0);
    z-index: 2;
  }
  

  
  .input-wrapper input {
    width: 100% !important;
    padding: 10px !important;
    border: 2px solid rgb(19, 119, 219) !important;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .register-btn{
    align-items: center;
    background-color:rgb(19, 119, 219) ;
    height: 40px;
    width:100px;
    border-radius: 10px;
    font-weight: bold;
  }

  .google-icon {
    font-size: 32px !important;
    margin-left: 5px !important;
    color: #DB4437 !important;
  }
  
  .gAuth {
    /* margin-top: 20px !important; */
    cursor: pointer;
    border: 2px solid transparent !important;
    padding: 10px !important;
    border-radius: 5px !important;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 2px solid black !important;
  }
  
  .gAuth:hover {
    background-color: #000 !important;
    border-color: #000 !important;
  }
  
  .gAuth:hover h2 {
    color: #fff !important;
  }
  
  .gAuth h2 {
    color: #000 !important;
    margin: 0 !important;
  }
  
  .password-input-wrapper {
    position: relative;
    z-index: 1;
  }
   
  .password-toggle-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .error-message{
    color: #ff1500;
  }
  .role-based-toggle{
    width: 100% !important;
    height: 100% !important;
  }