.cardHeader {
    display: flex;
    justify-content: space-between;
    font-family: 'Agdasima', sans-serif;
}

.card {
    max-width: 440px;
    background-color: #2d2d2d;
    color: #fff;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
}

.cardNumber {
    font-family: 'Changa', sans-serif;
}

.validThrough {
    font-family: 'Agdasima', sans-serif;
}

.validThrough {
    font-size: 8px;
    margin-right: 5px;
}

.textRight {
    display: flex;
    align-items: center;
    justify-content: end;
}

.monthYear {
    font-size: 18px;
}

.footerCard {
    font-family: 'Agdasima', sans-serif;
}

.card::after {
    content: "";
    top: -100px;
    bottom: -173px;
    left: -56px;
    width: 50%;
    background: #222222;
    position: absolute;
    z-index: 0;
    transform: rotate(-39deg);
}

.card {
    position: relative;
    overflow: hidden;
}

.card>div {
    z-index: 1;
    position: relative;
}

.cardChip {
    max-width: 58px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cardChip img {
    max-width: 100%;
}

.cardNumber {
    font-size: 35px;
    letter-spacing: 6px;
}

.textRight {
    letter-spacing: 0;
}

.card {
    font-size: 22px;
    letter-spacing: 2px;
}

.cardChip {
    max-width: 58px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.cardChip img {
    max-width: 100%;
}

.cardNumber {
    font-size: 25px;
    letter-spacing: 6px;
}

.textRight {
    letter-spacing: 0;
}


.card {
    font-size: 22px;
    letter-spacing: 2px;
}

.rightCardType {
    height: 118px;
    width: 107px;
    position: absolute;
    right: 0;
    top: -15px;
    transition: .3s ease-in-out;
}

.holderDetail {
    display: flex;
    justify-content: space-between;
}

.fullCover {
    max-width: 700px;
    margin: auto;
    position: relative;
}

.cardDetails {

    padding: 20px;
    padding-top: 150px;
    background-color: #f5f6fa;
}

.cardDetails input {
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1) !important;
    border: 0 !important;
    outline: 0 !important;
    padding: 18px 18px;
    margin-bottom: 20px;
}

.cardDetails {
    position: relative;
    top: -108px;
    border-radius: 10px;
}

.card {
    z-index: 1;
}

.cardBack {
    height: 277px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


.coverInner {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    z-index: 1;

}

/* .fullCover:hover .coverInner {
    ;
} */

.card,
.cardBack {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.backLine {
    height: 40px;
    background-color: #000;
    position: absolute;
    left: -30px;
    right: -30px;
}

.cardHeader {
    height: 40px;
}

.cardBack {
    transform: rotateY(180deg);
}

.authorizedSignature {
    position: relative;
    z-index: 1;
    font-size: 7px;
    margin-top: 10px;
}

.cvcPlace {
    height: 40px;
    background: #fff;
}

.demoText {
    position: relative;
    z-index: 1;
    font-size: 9px;
    margin-top: 10px;
}

.cardNumbers {
    position: absolute;
    right: -40%;
    COLOR: #fff;
    background: #1f1f1f;
    padding: 12px;
    font-size: 12px;
}