#piechart{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 490px ;
}
.infocard{
    width: 100%;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 30px;
}
.checked {
    color: orange;
  }
  .fa{
    font-size: 1.25rem !important;
  }
  .rating{
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }