.UserInfo {
  display: flex;
  position: relative;
  left: -22vh;
  width: 110%;
  background-color: #ffffff;
  margin-bottom: 5vh;
  height: 10vh;
  align-items: center;
  justify-content: end;
  padding-right: 4vw;
  gap: 2vw;
}

.UserInfo button {
  width: 2vw;
}

.userProfileImg {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
}

.heading {
  font-family: 'DM serif text';
  font-size: 2.5vw;
}

#piechart {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

.pieChartLabels {
  gap: 1rem;
  display: grid;
  height: fit-content;
}

.infocard {
  width: 100%;
  display: inline-block;
  box-shadow: 0 10px 36px 0 rgb(0, 0, 0, 0.16), 0 0 0 1px rgb(0, 0, 0, 0.06);
  margin: 30px;
}

.checked {
  color: orange;
}

.fa {
  font-size: 1.25rem !important;
}

.rating {
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.profile-landing-name {
  font-weight: 900 !important;
}

.contentAreaTable {
  border-radius: 5px;
  padding: 12px 16px;
  margin-bottom: 5vh;
}

.data-table-title {
  font-size: 18px;
  margin-bottom: 12px;
}

.dataTableDiagram {
  border-radius: 6px;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 14px 12px;
}

thead {
  text-align: left;
  font-size: 17px;
}

#chart {
  display: grid;
  justify-items: center;
}