.pp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 99%;
    border-radius: 0.8rem;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pp1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:25%;
    background: #475BE8;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.pp2 {

    

    flex:75%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0.8rem;

}

.pp21{

    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height:"auto";
    margin: 2rem;
    
}


.ppp{

    display: flex;
    justify-content: left;
}

.profile-image{

    border: 0.5rem solid white;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;


}

.pp211{

    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 1.5rem;
    
}

.pp212{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.ppfull{

    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    height: 88vh; /* Adjust the height as needed */
    margin-top: -10vh;
}


.pp213{

    display: flex;
    width: 100%;
    justify-content: right;


}