body {

  background-color: #f2f2f2;
  /* Light gray background */

  font-family: 'Manrope', sans-serif;
  /* Manrope font */

}
.scrollableTextarea {
  overflow-y: auto; /* or overflow-y: scroll; */
  overflow-wrap: break-word;
}
.adnewplan_plan_container {

  display: flex;
  justify-content: space-between;
  /* margin: 20px; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* height: 80vh; */

}
.activeButton {
  cursor: pointer;

  color: #fff;
  /* White text color */

  background-color: green;
  /* Blue background color */

  padding: 5px 10px;
  /* Compact padding */

  border-radius: 5px;

  font-weight: bold;

  text-transform: uppercase;

  align-self: center;
}

.inactiveButton {
  cursor: pointer;

  color: #fff;
  /* White text color */

  background-color: red;
  /* Blue background color */

  padding: 5px 10px;
  /* Compact padding */

  border-radius: 5px;

  font-weight: bold;

  text-transform: uppercase;

  align-self: center;
}

.adnewplan_left_section {

  width: 50%;

}

.adnewplan_right_section {
  width: 50%;
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.adnewplan_right_section .text {
  gap: 5px;

  /* width: 50%; */

  /* padding: 10px; */

  display: flex;

  flex-direction: column;

  /* justify-content: center; */

  /* align-items: center; */
  text-transform: capitalize;

}

.adnewplan_separator {

  position: relative;

  margin: 0 20px;

  width: 1px;

  background-color: #ddd;
  /* Light gray */

}

.adnewplans_header {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.adnewplans_heading {
  font-family: DM serif text;
  font-size: 2.5vw;
}

.outerMax>h4 {
  font-size: 1.25rem;
  /* margin-left: 3rem; */
  font-weight: 700;
}



.adnewplans_header button {
  font-weight: bold;
  background: rgb(71, 91, 232);
  padding: 10px;
  height: fit-content;
  color: white;
  border-radius: 10px;
}

/* .adnewplans-header button:hover{
    background-color: #B40000;
  } */

.adnewplan_table {

  width: 100%;

  border-collapse: collapse;

  margin-bottom: 20px;

}

.adnewplan_th,
.adnewplan_td {
  width: 33%;

  padding: 8px;

  text-align: left;

  border-bottom: 1px solid #ddd;
  /* Light gray border */

}

.adnewplan_th {

  background-color: #f2f2f2;
  /* Light gray background for table header */

}

.adnewplan_risk_dot {

  display: inline-block;

  width: 12px;

  height: 12px;

  border-radius: 50%;

  margin-right: 5px;

}

.adnewplan_risk_high {

  background-color: #ef5350;
  /* Red */

}

.adnewplan_risk_medium {

  background-color: #ffeb3b;
  /* Yellow */

}

.adnewplan_risk_low {

  background-color: #66bb6a;
  /* Light green */

}

.adnewplan_risk_active {

  display: inline-block;

  width: 12px;

  height: 12px;

  border-radius: 50%;

  margin-right: 5px;

}

.adnewplan_risk_false {

  background-color: #ef5350;
  /* Red */

}

.adnewplan_risk_true {

  background-color: #66bb6a;
  /* Light green */

}

.adnewplan_delete_icon {

  cursor: pointer;

  color: #fff;
  /* White text color */

  background-color: red;
  /* Blue background color */

  padding: 5px 10px;
  /* Compact padding */

  border-radius: 5px;

  font-weight: bold;

  text-transform: uppercase;

  align-self: center;
  /* Align in the center */

}

.adnewplan_profit_positive {

  color: green;
  /* Green font color for positive profit */

}

.adnewplan_profit_negative {

  color: red;
  /* Red font color for negative profit */

}


/* .addPlan_form_container {
    background-color: #f2f2f2;
    font-family: 'Manrope', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */

.addPlan_form_container {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 76vw;
  display: flex;
  height: 80vh;
  justify-content: space-around;
}

.addPlan_image_container {
  flex: 1;
}

.addPlan_image_container img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
}

.addPlan_form_section {
  flex: 1;
  /* padding-left: 20px; */
  height: 100%;
}

#new_plan_form {
  display: grid;
  grid-template-columns: 18vw 18vw;
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  height: 100%;
}

.formGrp {
  width: 100%;
  display: grid;
  grid-gap: 1vh;
  /* grid-template-columns: 50% 50%; */
}

.formGrp2 {
  /* grid-template-columns: 15% auto; */
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  grid-gap: 2vh;
}

.formGrp3{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-template-rows: max-content auto;
}

.addPlan_stocks_label{
  display: flex;
  justify-content: space-between;
}

.addPlan_stocks_label button{
  margin: 0;
  background-color: #007bff !important;
    color: #fff;
    /* border: 2px blue solid; */
    padding: 6px;
    border-radius: 8px;
}

.addPlan_stocks{
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 100%;
  margin-bottom: 1vh;
}

.addPlan_stocks .addPlan_input{
  margin-bottom: 0 !important;
}

.addPlan_stocks .addPlan_label{
  margin: 0 !important;
  width: fit-content;
  padding: 0 !important;
}

.addPlan_stocks button{
  width: fit-content;
  justify-self: end;
  border-left: #cfcfcf solid 2px;
  border-radius: 0 0.25rem  0.25rem 0;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.addPlan_stocks button:hover{
  background-color: #007bff;
  color: white;
}
  
.position_input {
  width: 95% !important;
}

.addPlan_label {
  position: static;
  font-weight: bold;
  /* margin-bottom: 5px; */
  display: inline-block;
  /* width: 120px; */
}

.addPlan_input,
.addPlan_select {
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  /* width: calc(50% - 140px); */
  width: 100% !important;
}

#stocks{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vw;
  }

#stocks input{
    width: 100% !important;
  }
/* .addPlan-select {
    width: calc(50% - 140px);
  } */

.stock_container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: calc(50% - 10px);
  display: inline-block;
  box-sizing: border-box;
}

.addPlan_add_stock_btn {
  background-color: #007bff !important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 12vw;
  /* width: 100%; */
  grid-column-start: 1;
  grid-column-end: 3;
  /* justify-self: baseline; */
}

.addPlan_add_stock_btn:hover {
  background-color: #0056b3;
}

.align {
  justify-self: end;
  margin-right: 10%;
}

.addPlan_stock_cards{
  height: 22vh;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: grid;
  gap: 2vh;
  overflow-y: auto;
  padding-right: 1vw;
}

.addPlan_card{
  width: 98%;
  justify-self: center;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-bottom: solid #d1d1d1b5 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  /* box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2); */
}

.addPlan_card_button{
  display: grid;
  height: fit-content;
}

.banner {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 1;
  /* Initially visible */
  transition: opacity 0.5s ease;
  backdrop-filter: blur(5px);
}

.banner.show {
  opacity: 0;
}


.outerMax {

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 2vh;
  
}

.error{

  color: #ff0400;
  text-decoration: double;
}

.required{
  color: red;
  font-weight: bold;
}

.addPlan_hr{
  width: 77vh;
  /* height: 80vh; */
  z-index: 10;
  transform: rotate(90deg);
  position: absolute;
  left: 33%;
  top: 55%;
}

.stock_list{
  display: grid;
  gap: 2vh;
}

.stock_list h3{
  font-weight: bold;
  justify-self: center;
}

/* .stock_list input{
  font-size: 12px;
  width: 100%;
} */

.stock_list_head{
  display: grid;
  gap: 1vh;
}

.stock_list_ul{
  height: 60vh;
  display: grid;
  grid-template-rows: max-content max-content auto;
  padding-right: 2.5vh;
}

.stock_list_stocks{
  overflow-y: scroll;
}

.stock_list_stocks li:hover{
  background-color: rgb(229, 229, 229);

}

.stock_list_stocks li:nth-child(even){
  background-color: rgb(244 244 244);
}

/* .stock_list_stocks li:nth-child(odd):hover{
  background-color: rgb(244 244 244);
}*/

.stock_list_stocks li:nth-child(even):hover{
  background-color:rgb(229, 229, 229);
} 

.stock_list_li{
  display: grid;
  grid-template-columns: 8vw 5vw auto;
  align-items: center;
  height: 5vh;
}

.large_width{
width: 20vw;
}

.small_width{
  width: 16vw;
}

.stock_list_li:hover{
  cursor: pointer;
}

.stock_list_li .inline{
  display: inline;
}

.stock_list_li input[type="radio"]{
  /* width: 50%;
  height: 50%;
  align-self: center; */
  /* border: none; */
  /* outline: none; */
  visibility: hidden;
}

.stock_list_li input[type="radio"]:checked{
  width: 50%;
  height: 50%;
  align-self: center;
  background-color: #66bb6a;
  /* border: none; */
  /* outline: none; */
  /* visibility: hidden; */
}


.bold {
  font-weight: bold;
}

.heading_stock_prices{
  font-weight: bolder;
  font-size: 1.2rem;
}

.search_stock_input{
  font-size: 1rem;
  width: 90%;
  height: 5vh;
}

/* Update the CSS code */
.stock_list_hr {
  width: 90%;
  margin: 1rem 1rem 1rem 0rem; /* Adjust the margin as needed */
  justify-self: center;
}

/* Add this CSS code */
.addPlan_card_button button {
  font-size: 1.5rem;
  padding: 0.2rem;
}

.isPremium_heading{
  font-size: 0.5rem;
}

.show_plans_list{
  margin-bottom: 5vh;
}