.CarouselBox{
  display: flex;
    flex-direction: column;
    gap: 14vh;
}

.InnerBox{
  display: flex;
  gap: 4vh;
  flex-direction: column;
}

.heading{
  font-family: 'DM serif text';
    font-size: 2.5vw;
}

.Carousel{
  height: 60vh;
  background-color: #ffffff;
  box-shadow:  rgba(100, 100, 111, 0.1) 2px 2px 4px 4px, rgba(100, 100, 111, 0.1) -2px -2px 4px 4px;
  border-radius: 12px;
}

.flip-card {
    background-color: transparent;
    width: 15rem;
    height: 15rem;
    perspective: 1000px;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    border-radius: 1.5rem;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    border-radius: 1.5rem;
  }

  .cout{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    margin-right:0.5rem;
    margin-top: 0.2rem;

  }

  .cin{
    display: flex;
    flex-direction: column;
  }

  .ffo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    margin-right:0.5rem;
  }

  .cl_container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  label {
    margin-right: 1rem;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  select {
    width: 8rem;
  }
  
  input[type="number"] {
    width: 5rem;
  }
  
  .bigadv{
    /* display: flex;
    flex-direction: row; */
    /* justify-content: space-around; */
    /* gap: 0; */
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-row-gap: 2vh; */
    align-items: center;
  }

  .bigadv h2{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /* Adjust the margin and padding as needed */

  .advleft, .advright{
    display: grid;
    justify-items: center;
    text-transform: capitalize;
  }

  .advleft img{
    width: 78%;
  }

  /* .lefa,.riga{
    flex:50%;
    justify-content: center;
    display: flex;
    align-items: center;
  } */
 
  .advright{
    gap: 4vh;
    height: fit-content;
    gap: 4vh;
    align-self: center;
  } 

.rowContainer{
  display: grid;
  /* grid-gap: 2vh; */
}

.rowContainer div:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

.row{
  display: flex;
  position: relative;
  height: 6vh;
  align-items: center;
  /* gap: 1vh; */
}

/* .row::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px; 
  background-color: #000;
} */

.rowLabel, .rowValue{
  width: 14vw;
  padding-left: 8px;
  position: relative;
}

.row::after{
  content: '';
  position: absolute;
  bottom: 0;
  left:  50%;
  width: 1px;
  height: 100%; 
  background-color: #000;
}

.rowLabel{
  font-weight: 600;
  
}

.advright label{
  font-weight: 600;
  position: static;
}

.advright button{
  width: 10vw;
  font-weight: bold;
  background: rgb(71, 91, 232);
  padding: 10px;
  height: fit-content;
  color: white;
  border-radius: 10px;
    transition: all 0.5s;
    justify-self: center;
}

  .cl-h2-plans{
    margin-top: 0.5rem ;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  .cl-hr-plans{
    width: 50%;
    margin-top: 0rem;
    margin-bottom: 0.4rem;
  }

  .cl-p-plans{
    text-align: center;
    margin-bottom: 0rem;
  }

  .cl-moneyimg-plans{ 
    border-radius: 1.5rem; 
    width: 10rem; 
    height: 5rem;
    margin: 0.6rem;
  }

  .cl-p-stars-plans{
    text-align: center;
  }


  .CardList{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.1) 2px 2px 4px 4px, rgba(100, 100, 111, 0.1) -2px -2px 4px 4px;
    border-radius: 12px;
  }

  .flex{
    display: flex;
    gap: 2vw;
    align-items: center;
  }

  .flex label{
    position: static;
    margin: 0;
    background: none;
  }

  .flex input{
    width: 8rem;
  }

  .chart{
    grid-column-start: 1;
    grid-column-end: 3;
  }