.CarouselBox{
  display: grid;
  grid-gap: 6vh;
}

.Carousel{
  height: 60vh;
  background-color: #ffffff;
  box-shadow:  rgba(100, 100, 111, 0.1) 4px 4px 4px 4px, rgba(100, 100, 111, 0.1) -4px -4px 4px 4px;
  border-radius: 12px;
}

.flip-card {
    background-color: transparent;
    width: 15rem;
    height: 15rem;
    perspective: 1000px;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffff;
    color: black;
    border-radius: 1.5rem;
  }
  
  .flip-card-back {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    border-radius: 1.5rem;
  }

  .cout{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    margin-right:0.5rem;
    margin-top: 0.2rem;

  }

  .cin{
    display: flex;
    flex-direction: column;
  }

  .ffo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 0.5rem;
    margin-right:0.5rem;
  }

  .cl_container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  label {
    margin-right: 1rem;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  select {
    width: 10rem;
  }
  
  input[type="number"] {
    width: 5rem;
  }
  
  .bigadv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 

  }
  /* Adjust the margin and padding as needed */

  .advleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 1.5rem;
 
   
  }

  .lefa,.riga{
    flex:50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  



  .advright{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    justify-content: center;

  }

  .cl-h2-plans{
    margin-top: 0.5rem ;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  .cl-hr-plans{
    width: 50%;
    margin-top: 0rem;
    margin-bottom: 0.4rem;
  }

  .cl-p-plans{
    text-align: center;
    margin-bottom: 0rem;
  }

  .cl-moneyimg-plans{ 
    border-radius: 1.5rem; 
    width: 10rem; 
    height: 5rem;
    margin: 0.6rem;
  }

  .cl-p-stars-plans{
    text-align: center;
  }
