.CarouselBox {
  display: flex;
  flex-direction: column;
  gap: 14vh;
  margin-bottom: 5vh;
}

.InnerBox {
  display: flex;
  gap: 4vh;
  flex-direction: column;
}

.heading {
  font-family: sans-serif;
  font-size: 2.5vw;
}

.Carousel {
  height: 60vh;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.1) 2px 2px 4px 4px, rgba(100, 100, 111, 0.1) -2px -2px 4px 4px;
  border-radius: 12px;
}

.flip-card {
  background-color: transparent;
  width: 15rem;
  height: 15rem;
  perspective: 1000px;
  display: flex;
  margin-bottom: 2rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff;
  color: black;
  border-radius: 1.5rem;
}

.flip-card-back {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  border-radius: 1.5rem;
}

.cout {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;

}

.cin {
  display: flex;
  flex-direction: column;
}

.ffo {
  display: flex;
  justify-content: space-evenly;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cl_container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label {
  margin-right: 1rem;
}

input[type="number"],
input[type="text"],
select {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

select {
  width: 8rem;
}

input[type="number"] {
  width: 5rem;
}

.bigadv {
  /* display: flex;
    flex-direction: row; */
  /* justify-content: space-around; */
  /* gap: 0; */
  background-color: rgb(255, 255, 255);
  border-radius: 1.5rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-row-gap: 2vh; */
  align-items: center;
  margin-bottom: 5vh;
}

.bigadv h2 {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Adjust the margin and padding as needed */

.advleft,
.advright {
  display: grid;
  justify-items: center;
  text-transform: capitalize;
}

.advleft img {
  width: 78%;
}

/* .lefa,.riga{
    flex:50%;
    justify-content: center;
    display: flex;
    align-items: center;
  } */

.advright {
  gap: 4vh;
  height: fit-content;
  gap: 4vh;
  align-self: center;
  width: 90%;
}

.rowContainer {
  display: grid;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  /* grid-gap: 2vh; */
}

.rowContainer div:nth-child(even) {
  background-color: rgb(244 244 244);
}

.row {
  display: flex;
  position: relative;
  /* height: 6vh; */
  align-items: center;
  text-transform: none;
}

.rowLabel,
.rowValue {
  width: 50%;
  /* padding-left: 8px; */
  position: relative;
  padding: 8px;
}

.riskValue{
  text-transform: capitalize;
}

/* .row::after{
  content: '';
  position: absolute;
  bottom: 0;
  left:  50%;
  width: 1px;
  height: 100%; 
  background-color: #000;
} */

.rowLabel {
  font-weight: 600;

}

.advright label {
  font-weight: 600;
  position: static;
}

.investment_panel_box {
  margin-top: 2vh;
  display: grid;
  gap: 1vh;
  background-color: white !important;
}

.investment_panel {
  display: flex;
}

.investment_panel label {
  width: 50%;
}

.modify_qty {
  width: 50%;
  background: white !important;
  position: relative;
  display: flex;
  gap: 2%;
}

.advright button {
  width: 10vw;
  font-weight: bold;
  background: rgb(71, 91, 232);
  padding: 10px;
  height: fit-content;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
  justify-self: center;
}

.modify_qty_input {
  width: 60%;
}

.modify_qty_btns {
  /* position: absolute;
  display: flex;
  right: 4%;
  top: 6%; */
  background-color: white !important;
  width: 39%;
  position: relative;
}

.modify_qty_btns input{
  padding-left: 15%;
}

.modify_qty_btn {
  width: fit-content !important;
  background-color: white !important;
  color: #000 !important;
  padding: 0 !important;
  /* margin-left: 5px; */
}

.modify_qty_btn1{
  position: absolute;
  top: 15%;
  left: 5%;
}

.modify_qty_btn2{
  position: absolute;
  top: 15%;
  right: 5%;
}

.cl-h2-plans {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}

.cl-hr-plans {
  width: 50%;
  margin-top: 0rem;
  margin-bottom: 0.4rem;
}

.cl-p-plans {
  text-align: center;
  margin-bottom: 0rem;
}

.cl-moneyimg-plans {
  border-radius: 1.5rem;
  width: 10rem;
  height: 5rem;
  margin: 0.6rem;
}

.cl-p-stars-plans {
  text-align: center;
}


.CardList {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.1) 2px 2px 4px 4px, rgba(100, 100, 111, 0.1) -2px -2px 4px 4px;
  border-radius: 0.75rem;
}

.filterOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh 1.5vw;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(100, 100, 111, 0.1) 2px 2px 4px 4px, rgba(158, 158, 168, 0.1) -2px -2px 4px 4px;
  border-radius: 0.75rem;
}

.flex {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.flex label {
  position: static;
  margin: 0;
  background: none;
}

.flex input {
  width: 8rem;
}

.activeButton{
  background-color: black !important;
  color: #ffffff;
  border-radius: 8px;
}
.inactiveButton{
  background-color: #475BE8 !important;
  border-radius: 8px;
  color: #ffffff;
}



.chart {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 4vh;
  display: grid;
  justify-items: center;
}

.stock_chart {
  width: 90%;
  justify-self: center;
}

/* 
  .react-multiple-carousel__arrow--left{
    left:0 !important;
  } */