.megacod{

    background-color: orange;
    display: flex;
    padding: 2.5rem;

}

.cod{

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.codil{

    flex:75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.codir{

    flex:25%;
    display: flex;
    align-items: baseline;
    justify-content: right;
    flex-direction: column;
}