.news-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .news-card h3 {
    margin-top: 0;
  }
  
  .news-card p {
    color: #666;
    margin-bottom: 16px;
  }
  
  .news-card a {
    color: #007bff;
    text-decoration: none;
  }