@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css");

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #992e2e;
  overflow-x: hidden;
}

.gradient-text {
  background: linear-gradient(45deg, #c0619a, #493240);
  -webkit-backdrop-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.link{
  padding-right: 13px;
  padding-left: 13px;
  font-size: 18px;
  color: #2e2d2e;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .link:focus, .navbar-light .navbar-nav .link:hover {
  color: #073c68;
}
.logogo {
  width: 25%;
  float: left;
  margin-left: 21px;
}
 .logogo img{
  width: 90px;
 }
.header_section {
  width: 100%;
  float: left;
}

.header_bg {
  width: 100%;
  float: left;
  background-color: #f8f9fa !important;
}

.header_left{
    width: 50%;
    float: left;
}
.header_right{
    width: 50%;
    float: left; 
}
.banner_img{
    width: 100%;
    float: left; 
}

.logo {
    width: 25%;
    float: left;
}
.bg-light {
  background-color: transparent!important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 13px;
  padding-left: 13px;
  font-size: 17px;
  color: #2e2d2e;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #1b5a8d;
}
.banner_main{
  width: 100%;
  float: left;
  padding-left: 100px;
  height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_taital {
  width: 100%;
  float: left;
  font-size: 6rem !important;
  color: #3c3d44;
  padding-top: 80px;
 
  text-decoration: underline;
  text-decoration-color: transparent;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}

.banner_text{
  font-size: 1.25rem !important;
}
.navbar{
  padding-left: 3vw;
}
.banner_text {
  width: 90%;
  float: left;
  font-size: 16px;
  color: #2e2d2e;
  margin-left: 0px;
  font-size: 1.5rem !important;
    text-align: justify;
    font-weight: 400;
}
.btn_main {
  width: 100%;
  float: left;
  padding-top: 75px;
}
.more_bt {
  width: 170px;
  float: left;
}

.more_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #000;
  border: 2px solid #ff5a58;
  text-align: center;
  padding: 10px 0px;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.more_bt a:hover {
  color: #000;
  border: 2px solid #ff5a58;
}
.contact_bt {
  width: 170px;
  float: left;
  margin-left: 15px;
}
.contact_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #181818;
  border: 2px solid #4aafff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.contact_bt a:hover {
  color: #181818;
  border: 2px solid #ff5a58;
}
.services_section {
  width: 100%;
  float: left;
  background-image: url('./../../../assest/images/services-bg.png');
  height: auto;
  margin-top: 75px;
  padding-bottom: 60px;
  background-size: 100%;
  
}
.my-custom-container{
  background-color: #00204a !important;
}
.services_taital {
  width: 100%;
  float: left;
  font-size: 34px;
  color: #282c47;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.service_container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.services_taital::after {
  content: '';
  background-color: #ff5a58;
  position: absolute;
  width: 60px;
  text-align: center;
  right: initial;
  top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 7px;
  left: 0;
  border-radius: 100px;
}
.services_text {
  width: 90%;
  float: left;
  font-size: 16px;
  color: #060606;
  margin-left: 0px;
}
.moremore_bt {
  width: 170px;
  float: left;
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.moremore_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #4aafff;
  border: 2px solid #88c6f8;
  text-align: center;
  padding: 10px 0px;
  border-radius: 40px;
}
.moremore_bt a:hover {
  color: #181818;
  border: 2px solid #ff5a58;
}
.image_1{
  width: 100%;
  float: left;
}

.what_we_do_section{
  width: 100%;
  float: left;
}
.what_taital {
  width: 100%;
  float: left;
  font-size: 34px;
  color: #060606;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.what_taital::after {
  content: '';
  background-color: #ff5a58;
  position: absolute;
  width: 60px;
  text-align: center;
  right: 0;
  top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 7px;
  left: 0;
  border-radius: 100px;
}

.what_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #060606;
  margin-left: 0px;
  text-align: center;
  margin-top: 0px;
}
.what_we_do_section_2{
  width: 100%;
  float: left;
  margin-top: 40px;
}
.box_main {
  width: 100%;
  float: left;
  background-color: #1b5a8d;
  border-radius: 10px;
  padding: 30px 0px;
}
.box_main:hover{
  background-color: #ff5a58;
}
.box_main.active {
  background-color: #ff5a58;
}
.icon_1 {
  width: 100%;
  float: left;
  text-align: center;
  min-height: 70px;
}
.accounting_text{
  width: 100%;
  float: left;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.lorem_text{
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-left: 0px;
}
.moremore_bt_1 {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.moremore_bt_1 a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-align: center;
  padding: 10px 0px;
  border-radius: 40px;
}
.moremore_bt_1 a:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}
.project_section{
  width: 100%;
  float: left;
  padding-bottom: 90px;
}
.project_main{
  width: 100%;
  float: left;
  padding-top: 200px;
}









.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px !important;
  
}
.whychoose h2{
  font-weight: 700;
    color: #525f7b !important;
}
.why_container .detail-box{
  font-size: 1.25rem;
}
.why_section > div{
  background-color: #f8f8f9;
    padding: 30px;
    border-radius: 20px;
    width: 100vw !important;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.box{
  height: 300px;
}


.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.h2about{
  font-size: 3rem !important;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}
#navlinks li a:hover{
  color: gray;
  text-decoration: none;
  padding: 5px;
  border-bottom: 3px solid gray;
}

.header_section {
 
  max-height: 100vh;
    overflow: hidden;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}



.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}
.h2about{
  font-size: 2.5rem !important;
    color: #6ccdd8 !important;
}
.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
}

.service_section .box {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center !important;
  margin-top: 45px !important;
  background-color: #f8f8f9;
  padding: 20px !important;
  border-radius: 5px !important;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

.about_section {
  background-color: #00204a;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

.why_section .box {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.service_container>div{
  background-color: #f8f8f9;
    padding: 50px;
    border-radius: 10px;
}
.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_box{
  background-color: hsl(240, 8%, 88%) !important;
}
.teamsh2{
  color:#6ccdd8 !important;
}
#landing_signup{
  font-size: 1.25rem;
  height: 3rem;
  width: 100%;
  color: white;
  border-radius: 5px;
}
#landing_signup:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
  transform: scale3d(1.01, 1.2, 0.3);
}

#googlebutton{
  border: 2px solid rgb(19, 119, 219) !important;
  display: flex;
  width: 100%;
  height: 3rem;
}
#googlebutton>h2{
  font-size: 1.2rem !important;

}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}


.team_section {
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border: 5px solid white;
  border-radius: 5px;
  overflow: hidden;
  transition: all .1s;
  margin-top: 45px;
  background: linear-gradient(to bottom, #002759, #002b64);
}


.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}



.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}


.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
  height: fit-content;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}


.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}





.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-bottom: 30px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 320px; 
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 10px; 
}

.flip-card-front {
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0; 
}

.flip-card-back {
  background-color: #073c68; 
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px; 
}

.flip-card-back h5, .flip-card-back p {
  margin: 5px 0;
}

.flip-card-back .social_box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.flip-card-back .social_box a {
  color: white;
  margin: 0 10px;
  font-size: 24px; 
}

.flip-card-back .social_box a:hover {
  color: #ff5a58; 
}




