/* advisorCarousel.module.css */
.container {
    width: 100%;
    margin: auto;
  }
  
  .sliderWrapper {
    margin-top: 20px;
  }
  
  .slide {
    background-color: #ffffff;
    height: 450px;
    color: #000000;
    border-radius: 0.75rem;
  }
  
  .imageContainer {
    height: 56px;
    background-color: #4f46e5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  
  .imageContainer img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .name {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .button {
    background-color: #4f46e5;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
  }
  