.containerNews {
  display: flex;
  gap: 30px;
}
a:hover{
  list-style: none !important;
}
.containerLatestNews {
  overflow: scroll;
  overflow-x: hidden;
  min-width: 40%;
}
.heading_news{
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: var(--chakra-fontSizes-3xl);
  line-height: 1.33;
  color: #fff;
  font-weight: 900 !important;
}


@media screen and (max-width: 800px) {
  .containerNews {
    flex-direction: column;
    gap: 20px;
  }

  .containerNews>div {
    padding: 10px !important;
  }
.news-box{
  height: 150px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
 
  display: flex !important;
 
  align-items: center !important;
  text-align: left !important;
  padding: 20px !important;
  border-radius: 8px !important;
}
  .containerLatestNews {
    overflow-y: hidden !important;
    overflow: initial !important;
    height: 100% !important;
  }

  .containerLatestNews .boxGrid {
    height: fit-content;
  }
  

}