
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 210px;
  top: 0;
  width:90%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.card-storage {
  font-weight: bold;
}
.card-users-allowed{
  font-weight: bold;
}
.card-send-up{
  font-weight: bold;
}

.PricingCard {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: -3px;
  margin-top: 1px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}



.card-features {
  margin-bottom: 20px;
}

.card-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-btn:hover {
  background-color: #0056b3;
}



.PricingCard {
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  color: var(--neutral-dark-grayish-blue);
  background-color: var(--neutral-white);
  width: min(100%, 30rem);
}

.PricingCard:nth-child(2) {
  background-image: linear-gradient(to right, var(--primary-linear-gradient));
  color: var(--neutral-white);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* .card-price {
  font-size: 32px;
  color: #007bff;
  margin-bottom: 20px;
  margin-block: 1rem;
    font-size: 3.5em;
} */

.PricingCard header > .card-price {
  margin-block: 1rem;
  font-size: 3.5em;
  font-weight: bold;
}

.PricingCard .card-features > * {
  padding-block: 1em;
  border-bottom: 1px solid var(--neutral-light-grayish-blue);
}

.PricingCard .card-features :first-child {
  border-top: 1px solid var(--neutral-light-grayish-blue);
}

.PricingCard .card-features :last-child {
  margin-bottom: 2em;
}

.PricingCard .card-btn {
  cursor: pointer;
  padding-block: 1em;
  width: 100%;
  border-radius: 0.5em;
  background-image: linear-gradient(to right, var(--primary-linear-gradient));
  border: 2px solid transparent;
  outline: transparent;
  transition: 0.125s ease;
  color: var(--neutral-white);
}

.PricingCard .card-btn:is(:focus-visible, :hover) {
  color: hsl(237, 63%, 64%);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--primary-linear-gradient)) border-box;
  border-radius: 0.5em;
  border: 2px solid transparent;
}

.PricingCard:nth-child(2) .card-btn {
  background: transparent;
  background-color: var(--neutral-white);
  color: hsl(237, 63%, 64%);
}

.PricingCard:nth-child(2) .card-btn:is(:focus-visible, :hover) {
  color: var(--neutral-white);
  background: linear-gradient(to right, var(--primary-linear-gradient))
      padding-box,
    linear-gradient(white, white) border-box;
  border-radius: 0.5em;
  border: 2px solid transparent;
}

.PricingCard:hover {
  box-shadow: 0 0 20px rgba(31, 2, 252, 0.1);
  transform: scale(1.05); /* Add zoom effect on hover */
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

@media screen and (max-width: 800px) {
  .PricingCard:nth-child(2) {
    align-self: center;
  }
}
